@font-face {  
  font-family: edmondSans ;  
  src: url( ./edmondSans.otf ) format("opentype");  
}
body {
	background: #f2f2f2;
	text-transform: lowercase;
	color: #555;
}
#rectangles {
	margin-top: 100px;
}
#rectangles .rectangle {
	float: left;
	width: 20%;
	margin-left: 10%;
}
#rectangles .rectangle .text {
	font-size: 45px;
	font-family: edmondSans;
	padding-bottom: 5px;
	color: #333;
}
#rectangles .rectangle .information {
	font-family: arial;
	font-size: 15px;
	line-height: 17px;
}
#rectangles .information a {
	color: #a84b3a;
	text-decoration: none;
}
#rectangles .information a.line {
	display: block;
}
#rectangles .information a:hover {
	text-decoration: underline;
}
#rectangles .information .desc {
	display: block;
	font-size: 14px;
	margin-bottom: 8px;
}